@use "../_setting" as s;

#wrapper{
	.mainVisual {
		display:block;
		background:#C4C4C4;
		//background: url(../img/sample/bgMainVisual.jpg) repeat-x center top;
		//margin:0 auto calc(s.$spaceSize/2);
		@include s.media(m){
		}
		img{
			width:100%;
		}
		.inBase{
			position:relative;
		}
		&.--carType01.--typeWide{
			.mainVisual__carName span figure{
				width:7.5em;
				margin-top:-1.8em;
				margin-left:-4em;
				@include s.media(m){
					width:11.9em;
					margin-top:-1.5em;
					margin-left:-4em;
				}
			}
		}
		&.--carType02{
			.mainVisual__copy{
				background:s.$colorType04;
				.mainVisual__copy__inner::before,.mainVisual__copy__inner::after{
					background:s.$colorType04;
				}
			}
			.mainVisual__carName span figure{
				width:10em;
				margin-top:-1.8em;
				margin-left:-5em;
				@include s.media(m){
					width:11.9em;
					margin-top:-1em;
					margin-left:-3em;
				}
			}
		}
		&.--carType03{
			.mainVisual__copy{
				background:s.$colorType05;
				.mainVisual__copy__inner::before,.mainVisual__copy__inner::after{
					background:s.$colorType05;
				}
			}
			.mainVisual__carName span figure{
				width:6em;
				margin-top:-1.8em;
				margin-left:-3em;
				@include s.media(m){
					width:8em;
					margin-top:-1.2em;
					margin-left: -1.5em;
				}
			}
		}
		&.--carType04{
			.mainVisual__copy{
				background:s.$colorType06;
				.mainVisual__copy__inner::before,.mainVisual__copy__inner::after{
					background:s.$colorType06;
				}
			}
			.mainVisual__carPerson{
				@include s.media(m){
					right:-1em;
					bottom:7em;
				}
				@include s.media(xl){
					bottom:8em;
				}
			}
			.mainVisual__carName span figure{
				margin-top:-1.8em;
				@include s.media(m){
					margin-top:-1.1em;
				}
			}
		}
		&.--carType05{
			.mainVisual__copy{
				background:s.$colorType07;
				.mainVisual__copy__inner::before,.mainVisual__copy__inner::after{
					background:s.$colorType07;
				}
			}
			.mainVisual__carName span figure{
				width:8em;
				margin-top:-1.9em;
				margin-left:-4em;
				@include s.media(m){
					margin-top:-1em;
					margin-left: -1.5em;
				}
			}
			.mainVisual__carPerson{
				bottom:6em;
				@include s.media(m){
					right:-1em;
					bottom:6em;
				}
			}
		}
		&.--carType06{
			.mainVisual__copy{
				background:s.$colorType08;
				.mainVisual__copy__inner::before,.mainVisual__copy__inner::after{
					background:s.$colorType08;
				}
			}
			.mainVisual__carName span figure{
				width:14em;
				margin-top:-1.5em;
				margin-left:-7em;
				@include s.media(m){
					margin-top:-0.5em;
					margin-left: -3.5em;
				}
			}
		}
		&.--typeWide{
			.mainVisual__car{
				top:23%;
				@include s.media(m){
					width:48em;
					top:3em;
				}
			}
			.mainVisual__carPerson{
				@include s.media(m){
					width:25em;
					top:7em;
				}
			}
			.mainVisual__copy{
				width:85%;
				top:1em;
				@include s.media(m){
					width:46.5em;
					top:7.9em;
				}
				@include s.media(xl){
					width:46.4em;
				}
				.mainVisual__copy__inner{
					@include s.media(m){
						padding-left:4em;
					}
				}
				.mainVisual__copy__inner::before{
					@include s.media(m){
						width:11.9em;
						right:-11.85em;
					}
				}
				h2 span{
					&:nth-child(1){
						font-size:1.8em;
						@include s.media(m){
							font-size:2.5em;
						}
					}
					&:nth-child(2){
						font-size:1.2em;
						@include s.media(m){
							font-size:1.825em;
						}
					}
				}
			}
			.mainVisual__person{
				width:5em;
				left:-1em;
				@include s.media(m){
					width:10em;
					left:3.5em;
					bottom:6.5em;
				}
				figure:nth-child(2){
					width:6em;
					top:-4em;
					right:-1.5em;
					@include s.media(m){
						width:9em;
						top:1em;
						right:-8.5em;
					}
				}
			}
		}
		&__inner{
			display:block;
			width:112%;
			margin-left:-6%;
			@include s.media(m){
				width:130%;
				margin-left:-15%;
			}
			@include s.media(m){
				width:160%;
				margin-left:-30%;
			}
		}
		&__bg{
			display:block;
			&::before{
				content:"";
				display:block;
				width:85%;
				height:65%;
				background:#C4C4C4;
				position:absolute;
				bottom:0;
				right:-6%;
				clip-path: polygon(0 100%,100% 0,100% 100%);
				@include s.media(m){
					content:none;
				}
			}
		}
		&__car{
			width:95%;
			position:absolute;
			top:20%;
			right:-10%;
			z-index:1;
			@include s.media(m){
				width:40em;
				top:0;
				right:0;
			}
		}
		&__carPerson{
			width:11.5em;
			position:absolute;
			bottom:8em;
			right:-1em;
			display:block;
			z-index:1;
			@include s.media(m){
				width:19em;
				bottom:7em;
				right:1em;
			}
		}
		&__manufacturer{
			width:10em;
			position:absolute;
			top:1.7em;
			right:0;
			background:#FFF;
			padding:0.3em 0.5em;
			display:none;
			@include s.media(m){
				right:7.7em;
				right:0;
				display:block;
			}
		}
		&__copy{
			width:70%;
			display:block;
			position:absolute;
			top:2em;
			left:0;
			background:s.$colorType03;
			@include s.media(m){
				width:32.6em;
				top:7.9em;
				left:0;
			}
			&__inner{
				display:block;
				position:relative;
				@include s.media(m){
					padding-left:8em;
				}
				&::before{
					content:"";
					display:block;
					width:5em;
					height:100%;
					background:s.$colorType03;
					clip-path: polygon(0 0,100% 0,0 100%);
					position:absolute;
					top:0;
					right:-4.95em;
					@include s.media(m){
						width:7.9em;
						right:-7.85em;
					}
				}
				&::after{
					content:"";
					display:block;
					width:50vw;
					height:100%;
					background:s.$colorType03;
					position:absolute;
					top:0;
					left:0.1em;
					margin-left:-50vw;
				}
			}
			h2{
				padding:0.8em 0;
				line-height:1.7em;
				@include s.media(m){
					padding:0.5em 0;
					line-height:3em;
				}
			}
			span{
				@include s.fontType01(Bold);
				display:block;
				color:#FFF;
				letter-spacing:0.1em;
				&:nth-child(1){
					font-size:1.4em;
					@include s.media(m){
						font-size:2.25em;
					}
				}
				&:nth-child(2){
					font-size:1em;
					@include s.media(m){
						font-size:1.5em;
					}
				}
			}
			p{
				@include s.fontType01(Bold);
				display:block;
				font-size:0.81em;
				color:#FFF;
				letter-spacing:0.1em;
				position:relative;
				padding:0.5em 0 2em 0;
				@include s.media(m){
					padding:0.5em 0 1em 0;
				}
				&::before{
					content:"";
					display:block;
					width:95%;
					height:1px;
					background:#FFF;
					position:absolute;
					top:0;
					left:0;
					@include s.media(m){
						width:35em;
					}
				}
			}
		}
		&__carName{
			width:112%;
			display:block;
			position:absolute;
			bottom:1.6em;
			left:-6%;
			background:#FFF;
			@include s.media(m){
				width:70em;
				left:0;
			}
			span{
				width:100%;
				display:block;
				position:relative;
				&::before{
					@include s.media(m){
						content:"";
						display:block;
						width:50vw;
						height:100%;
						background:#C4C4C4;
						position:absolute;
						top:0;
						left:0.1em;
						margin-left:-50vw;
					}
				}
				&::after{
					@include s.media(m){
						content:"";
						display:block;
						width:5.2em;
						height:100%;
						background:#C4C4C4;
						clip-path: polygon(0 0,100% 0,0 100%);
						position:absolute;
						top:0;
						left:0;
					}
				}
			}
			figure{
				width:11.9em;
				display:block;
				position:absolute;
				top:50%;
				left:50%;
				margin-top:-1.4em;
				margin-left:-5.85em;
				@include s.media(m){
					margin-left:-3em;
					margin-top:-0.7em;
				}
			}
			p{
				text-align:center;
				font-size:1.1em;
				@include s.fontType01(Bold);
				padding:2.5em 0 0.4em 0;
				@include s.media(m){
					font-size:1.25em;
					padding:1em 3em 1em 0;
					text-align:right;
				}
				&::before{
					@include s.media(m){
						content:"";
						display:block;
						width:5.2em;
						height:100%;
						background:#FFF;
						clip-path: polygon(0 0,100% 0,0 100%);
						position:absolute;
						top:0;
						right:-5.1em;
					}
				}
			}
		}
		&__person{
			width:7em;
			display:block;
			position:absolute;
			bottom:6.7em;
			left:-1em;
			@include s.media(m){
				width:12.56em;
				bottom:0;
				left:6.25em;
			}
			span{
				display:block;
				position:relative;
			}
			figure{
				&:nth-child(2){
					width:7em;
					position:absolute;
					top:-5em;
					right:-1em;
					@include s.media(m){
						width:9.1em;
						position:absolute;
						top:0;
						right:-7em;
					}
				}
			}
		}
		&__contactBox{
			display:none;
			width:25em;
			position:absolute;
			bottom:0;
			left:0;
			z-index:1;
			@include s.media(m){
				display:block;
			}
			>span{
				display:block;
				background:s.$colorType02;
				border-radius:1em 1em 0 0;
			}
			p{
				color:#FFF;
				text-align:center;
				@include s.fontType01(Bold);
				font-size:1.125em;
				padding:0.5em 0;
			}
		}
		&__contactButton{
			display:block;
			text-align:center;
			padding:0 0.3em 0.3em 0.3em;
			a{
				display:block;
				background:#FFF;
				@include s.fontType01(Bold);
				color:s.$colorType02;
				padding:0.9em 1em;
				font-size:1.125em;
				text-decoration:none;
				position: relative;
				&:hover{
					background: #EEE;
				}
				span {
					display: inline-block;
					width: 1.1em;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -0.4em;
					margin-left: -5em;
					@include s.media(xxl){
						width: 1.3em;
					}
 					img {
						width: 100%;
					}
				}
				strong{
					@include s.fontType01(Bold);
					padding-left:1.5em;
				}
			}
		}
	}
}

#container #wrapper .mainVisual__copy h2 {
	@include s.media(m){
        	line-height: 1.4;
	}
}

#wrapper .carModelNavi{
	display:block;
	background:#313131;
	padding:1em 0;
	&__inner{
		width:calc(100% - 0.5em);
		margin:0 auto;
		display:grid;
		grid-template-columns: 50% 50%;
		gap: 0.7em 0.5em;
		@include s.media(m){
			grid-template-columns: 33.3% 33.3% 33.3%;
			width:calc(87% - 1.2em);
			gap: 0.7em 0.6em;
		}
		img{
			width:100%;
		}
	}
	&__button{
		a{
			width:95%;
			display:flex;
			position:relative;
			background:#FFF;
			overflow:hidden;
			&::before{
				content:"";
				display:block;
				width:3.5em;
				height:80%;
				background:#000;
				clip-path: polygon(0 100%,100% 0,100% 100%);
				position:absolute;
				bottom:0;
				right:0;
				transition:all .3s ease;
				@include s.media(m){
					width:5.2em;
				}
			}
			&>p{
				display:inline-block;
				color:#FFF;
				@include s.fontType04(Bold);
				position:absolute;
				bottom:0.5em;
				right:0.5em;
				font-size:0.6em;
				@include s.media(m){
					font-size:0.8em;
				}
			}
			&:hover{
				&::before{
					width:200%;
					height:200%;
				}
			}

		}
		&.--carType01{
			a{
				&::before{
					background:s.$colorType03;
				}
			}
		}
		&.--carType02{
			a{
				&::before{
					background:s.$colorType04;
				}
				.carModelNavi__model figure:nth-child(2){
					padding:0 0.5em;
				}
			}
		}
		&.--carType03{
			a{
				&::before{
					background:s.$colorType05;
				}
				.carModelNavi__model figure:nth-child(2){
					padding:0 1em;
				}
			}
		}
		&.--carType04{
			a{
				&::before{
					background:s.$colorType06;
				}
			}
		}
		&.--carType05{
			a{
				&::before{
					background:s.$colorType07;
				}
				.carModelNavi__model figure:nth-child(2){
					padding:0 0.5em;
				}
			}
		}
		&.--carType06{
			a{
				&::before{
					background:s.$colorType08;
				}
				.carModelNavi__model{
					padding-right:0.5em;
					figure:nth-child(2){
						@include s.media(m){
							width:6.9em;
						}
						img{
							margin-left:-0.3em;
							@include s.media(m){
								margin-left:0;
							}
						}
					}
				}
			}
		}
	}
	&__model{
		padding:0.5em 0.5em 0 0.5em;
		@include s.media(m){
			padding:0.5em 1em 0 1em;
		}
		figure{
			position:relative;
			z-index:1;
			&:nth-child(1){
				width:4em;
				margin-bottom:0.1em;
				@include s.media(m){
					width:5em;
					margin-bottom:0.8em;
				}
			}
			&:nth-child(2){
				width:5em;
				padding-left:0.5em;
				@include s.media(m){
					width:6.4em;
					padding-left:0;
				}
			}
		}
	}
	&__image{
		width:6em;
		display:block;
		position:relative;
		@include s.media(m){
			width:8.8em;
		}
		img{
			margin-left:-1em;
			@include s.media(m){
				margin-left:-1em;
			}
		}
	}
}

#wrapper .homeNewsBox{
	.inBase__inner{
		position:relative;
		&::before{
			content:"";
			display:block;
			width:82em;
			height:68em;
			background:rgba(#EEE,.5);
			clip-path: polygon(0 0,100% 0,0 100%);
			position:absolute;
			top:0;
			left:-22.8em;
			z-index:-1;
		}
		&::after{
			content:"";
			display:block;
			width:50vw;
			height:68em;
			background:rgba(#EEE,.5);
			position:absolute;
			top:0;
			left:-22.8em;
			margin-left:-50vw;
			z-index:-1;
		}
	}
	&__inner{
		width:112%;
		display:block;
		background:s.$colorType02;
		color:#FFF;
		@include s.fontType01(Medium);
		padding:0.8em 8%;
		position:relative;
		margin-left:-6%;
		@include s.media(m){
			align-items:center;
			width:82%;
			display:flex;
			margin-left:0;
			padding:0.8em 0;
		}
		&::before{
			@include s.media(m){
				content:"";
				display:block;
				width:3.75em;
				height:100%;
				background:s.$colorType02;
				clip-path: polygon(0 0,100% 0,0 100%);
				position:absolute;
				top:0;
				right:-3.7em;
			}
		}
		&::after{
			content:"";
			display:block;
			width:50vw;
			height:100%;
			background:s.$colorType02;
			position:absolute;
			top:0;
			left:0;
			margin-left:-50vw;
		}
	}
	&__title{
		width:5em;
		@include s.fontType04(Medium);
		line-height:1.5;
		display:inline-block;
		position:relative;
		margin-right:2em;
		margin-bottom:0.3em;
		@include s.media(m){
			margin-right:6em;
			margin-bottom:0;
		}
		&::before{
			content:"";
			width:0.8em;
			height:0.8em;
			display:block;
			background: url(../img/common/iconArrow04.svg) no-repeat center top;
			background-size:100% auto;
			position:absolute;
			top:0.3em;
			right:0;
		}
	}
	&__content{
		display:block;
		width:100%;
		@include s.media(m){
			width:70%;
		}
		a{
			width:100%;
			display:flex;
			color:#FFF;
			line-height:1.5;
			@include s.media(m){
				display:block;
			}
			span{
				width:30%;
				display:inline-block;
				@include s.media(m){
					width:auto;
					margin-right:4em;
				}
				&+span{
					width:70%;
					@include s.media(m){
						width:auto;
						margin-right:0;
					}
				}
			}
			&:hover{
				color:s.$colorType06;
			}
		}
	}
	&.--typeWide{
		.inBase__inner{
			&::before{
				content:"";
				display:block;
				width:82em;
				height:68em;
				background:rgba(#EEE,.5);
				clip-path: polygon(0 0,100% 0,0 100%);
				position:absolute;
				top:0;
				left:-17.2em;
				z-index:-1;
			}
			&::after{
				content:"";
				display:block;
				width:50vw;
				height:68em;
				background:rgba(#EEE,.5);
				position:absolute;
				top:0;
				left:-17.2em;
				margin-left:-50vw;
				z-index:-1;
			}
		}
		.homeNewsBox__inner{
			width:112%;
			@include s.media(m){
				width:90%;
			}
		}
	}
	&.--carType01{
		.homeNewsBox__inner{
			background:s.$colorType03;
			&::before{
				@include s.media(m){
					background:s.$colorType03;
				}
			}
			&::after{
				background:s.$colorType03;
			}
		}
	}
	&.--carType02{
		.homeNewsBox__inner{
			background:s.$colorType04;
			&::before{
				@include s.media(m){
					background:s.$colorType04;
				}
			}
			&::after{
				background:s.$colorType04;
			}
		}
	}
	&.--carType03{
		.homeNewsBox__inner{
			background:s.$colorType05;
			&::before{
				@include s.media(m){
					background:s.$colorType05;
				}
			}
			&::after{
				background:s.$colorType05;
			}
		}
	}
	&.--carType04{
		.homeNewsBox__inner{
			background:s.$colorType06;
			&::before{
				@include s.media(m){
					background:s.$colorType06;
				}
			}
			&::after{
				background:s.$colorType06;
			}
		}
	}
	&.--carType05{
		.homeNewsBox__inner{
			background:s.$colorType07;
			&::before{
				@include s.media(m){
					background:s.$colorType07;
				}
			}
			&::after{
				background:s.$colorType07;
			}
		}
	}
	&.--carType06{
		.homeNewsBox__inner{
			background:s.$colorType08;
			&::before{
				@include s.media(m){
					background:s.$colorType08;
				}
			}
			&::after{
				background:s.$colorType08;
			}
		}
	}
}

#wrapper .homeStockBox{
	display:block;
	padding-top:3em;
	margin-bottom:3em;
	.inBase__inner{
		position:relative;
		&::before{
			@include s.media(m){
				content:"";
				display:block;
				width:35em;
				height:30em;
				background:s.$colorType02;
				clip-path: polygon(0 0,100% 0,0 100%);
				position:absolute;
				top:-3.1em;
				left:-26em;
				z-index:1;
			}
		}
		&::after{
			@include s.media(m){
				content:"";
				display:block;
				width:50vw;
				height:30em;
				background:s.$colorType02;
				position:absolute;
				top:-3em;
				left:-26em;
				margin-left:-50vw;
				z-index:1;
			}
		}
	}
	&__title{
		display:block;
		text-align:center;
		font-size:1.5em;
		@include s.fontType01(Bold);
		margin-bottom:0.3em;
		letter-spacing:0.1em;
		@include s.media(m){
			font-size:1.875em;
		}
		&+p{
			margin-bottom:1.5em;
			letter-spacing:0.1em;
			@include s.media(m){
				text-align:center;
				margin-bottom:3em;
			}
		}
	}
	&__listBox{
		width:100%;
		display:block;
		margin-bottom:3em;
		position:relative;
		z-index:1;
		@include s.media(m){
			//display:flex;
		}
		&.--typeList{
			@include s.media(m){
				display:flex;
				flex-wrap:wrap;
			}
			.homeStockBox__list{
				@include s.media(m){
					width:33.3%;
					margin-bottom:1.5em;
				}
			}
			.homeStockBox__sentence{
				@include s.media(m){
					min-height:5em;
				}
			}
		}
	}
	&__list{
		display:block;
		padding:0 1em;
		margin-bottom:1.5em;
		@include s.media(m){
			//width:33.3%;
			margin-bottom:0;
		}
		a{
			display:block;
			padding:2em 0 0;
			background:#FFF;
			box-shadow: 0px 0px 0.5em 0px rgba(0, 0, 0, 0.2);
			position:relative;
			&:hover{
				color:#000;
				background:#F7F7F7;
				box-shadow: 0px 0px 0.5em 0px rgba(0, 0, 0, 0);
				&::before{
					width:0;
				}
				.homeStockBox__button span{
					background:s.$colorType09;
					&::before{
						right:0.6em;
					}
				}
			}
			&::before{
				content:"";
				width:100%;
				height:4px;
				display:block;
				background: s.$colorType02;
				position:absolute;
				top:0;
				left:0;
				transition:all .3s ease;
			}
		}
	}
	&__name{
		font-size:1.125em;
		@include s.fontType01(Medium);
		padding:0 1em;
		text-align:center;
		margin-bottom:1.5em;
		display:block;
	}
	&__image{
		width:80%;
		margin:0 auto 1.5em;
		img{
			width:100%;
			aspect-ratio: 3 / 2;
			object-fit: cover;
		}
	}
	&__sentence{
		@include s.fontType01(Regular);
		width:80%;
		margin:0 auto 1.5em;
		display:block;
	}
	&__price{
		@include s.fontType01(Bold);
		width:80%;
		margin:0 auto 1.5em;
		display:block;
		b{
			font-size:1.625em;
			display:inline-block;
			margin-left:0.3em;
		}
	}
	&__price01{
		@include s.fontType01(Regular);
		width:80%;
		margin:0 auto 0.3em;
		display:block;
		font-size:1.3em;
		text-align:right;
		line-height:1.2;
		b{
			font-size:1.625em;
			display:inline-block;
			margin-left:0.3em;
			color:#ec2a28;
		}
	}
	&__price02{
		@include s.fontType01(Regular);
		width:80%;
		margin:0 auto 0.5em;
		display:block;
		text-align:right;
		line-height:1.2;
		@include s.media(m){
			font-size:1.1em;
		}
		b{
			font-size:1.1em;
			display:inline-block;
			margin-left:0.3em;
		}
	}
	&__price03{
		@include s.fontType01(Regular);
		width:80%;
		margin:0 auto 1.5em;
		display:block;
		text-align:right;
		line-height:1.2;
		@include s.media(m){
			font-size:1.1em;
		}
		b{
			font-size:1.1em;
			display:inline-block;
			margin-left:0.3em;
		}
	}
	&__information{
		@include s.fontType01(Regular);
		width:80%;
		margin:0 auto 1.5em;
		display:block;
		table{
			border-collapse: separate;
			border-top: #F2F1F0 solid 1px;
			@include s.media(m){
				border-top: none;
			}
			tr{
				th,td {
					border:none;
					display: block;
					width: 100%;
					@include s.media(m){
						width: unset;
						display:table-cell;
					}
				}
				th{
					@include s.fontType01(Regular);
					color:#FFF;
					background:rgba(s.$colorType02,1);
					padding:0.4em 1em;
					min-width:30%;
					border-bottom:#F2F0F0 solid 1px;
					border-left:#F2F0F0 solid 1px;
					@include s.media(m){
						width:30%;
						font-size:1.1em;
						border-bottom:#FFF solid 1px;
						border-left:#FFF solid 1px;
					}
				}
				td{
					@include s.fontType01(Regular);
					padding:0.4em 1em;
					background:#FFF;
					border-bottom:#F2F1F0 solid 1px;
					border-left:#F2F1F0 solid 1px;
					border-right:#F2F0F0 solid 1px;
					@include s.media(m){
						background:#FFF;
						border-bottom:#FFF solid 1px;
						border-left:#FFF solid 1px;
						border-right:none;
						font-size:1.1em;
					}
				}
				&:nth-child(even){
					th{
						background:rgba(s.$colorType02,1);
					}
					td{
						background:#FFF;
						@include s.media(m){
							background:#F0F5FC;
						}
					}
				}
			}
			&:last-child{
				td:last-child {
				    width: 100%;
					@include s.media(m){
				    		width: unset;
					}
				}
			}
			tr{
				@include s.media(m){
					font-size:0.8em;
				}
				th,td {
					display:table-cell;
				}
				th{
					padding:0.3em 0.5em;
					text-align:center;
					width:30%;
					@include s.media(m){
						width:6em;
					}
				}
				td{
					width:6em;
					padding:0.3em 0.5em;
					text-align:left;
				}
			}
		}
	}
	&__button{
		span{
			@include s.fontType01(Bold);
			display:block;
			text-align:center;
			background:s.$colorType02;
			color:#FFF;
			position:relative;
			padding:0.7em;
			transition:all .3s ease;
			&::before{
				content:"";
				width:1em;
				height:1em;
				display:block;
				background: url(../img/common/iconArrow02.svg) no-repeat center top;
				background-size:50% auto;
				position:absolute;
				top:50%;
				right:1em;
				margin-top:-0.4em;
				transition:all .3s ease;
			}
		}
	}
	&__new-label{
		display:inline-block;
		background:#ec2a28;
		padding:0.1em 0.7em;
		position:absolute;
		top:0;
		right:0;
		color:#FFF;
		font-size:1.1em;
	}
	&.--carType01{
		.inBase__inner{
			&::before{
				@include s.media(m){
					background:s.$colorType03;
				}
			}
			&::after{
				@include s.media(m){
					background:s.$colorType03;
				}
			}
		}
		.homeStockBox__list a::before{
			background: s.$colorType03;
		}
		.homeStockBox__button span{
			background: s.$colorType03;
		}
		.button--type01 a{
			border-color: s.$colorType03;
			color: s.$colorType03;
		}
		.homeStockBox__information table tr{
			th{
				background: s.$colorType03;
			}
			&:nth-child(even){
				th{
					background: s.$colorType03;
				}
				td{
						@include s.media(m){
							background:#FAFAFA;
						}
					}
			}
		}
	}
	&.--carType02{
		.inBase__inner{
			&::before{
				@include s.media(m){
					background:s.$colorType04;
				}
			}
			&::after{
				@include s.media(m){
					background:s.$colorType04;
				}
			}
		}
		.homeStockBox__list a::before{
			background: s.$colorType04;
		}
		.homeStockBox__button span{
			background: s.$colorType04;
		}
		.button--type01 a{
			border-color: s.$colorType04;
			color: s.$colorType04;
		}
		.homeStockBox__information table tr{
			th{
				background: s.$colorType04;
			}
			&:nth-child(even){
				th{
					background: s.$colorType04;
				}
				td{
						@include s.media(m){
							background:#FAFAFA;
						}
					}
			}
		}
	}
	&.--carType03{
		.inBase__inner{
			&::before{
				@include s.media(m){
					background:s.$colorType05;
				}
			}
			&::after{
				@include s.media(m){
					background:s.$colorType05;
				}
			}
		}
		.homeStockBox__list a::before{
			background: s.$colorType05;
		}
		.homeStockBox__button span{
			background: s.$colorType05;
		}
		.button--type01 a{
			border-color: s.$colorType05;
			color: s.$colorType05;
		}
		.homeStockBox__information table tr{
			th{
				background: s.$colorType05;
			}
			&:nth-child(even){
				th{
					background: s.$colorType05;
				}
				td{
						@include s.media(m){
							background:#FAFAFA;
						}
					}
			}
		}
	}
	&.--carType04{
		.inBase__inner{
			&::before{
				@include s.media(m){
					background:s.$colorType06;
				}
			}
			&::after{
				@include s.media(m){
					background:s.$colorType06;
				}
			}
		}
		.homeStockBox__list a::before{
			background: s.$colorType06;
		}
		.homeStockBox__button span{
			background: s.$colorType06;
		}
		.button--type01 a{
			border-color: s.$colorType06;
			color: s.$colorType06;
		}
		.homeStockBox__information table tr{
			th{
				background: s.$colorType06;
			}
			&:nth-child(even){
				th{
					background: s.$colorType06;
				}
				td{
						@include s.media(m){
							background:#FAFAFA;
						}
					}
			}
		}
	}
	&.--carType05{
		.inBase__inner{
			&::before{
				@include s.media(m){
					background:s.$colorType07;
				}
			}
			&::after{
				@include s.media(m){
					background:s.$colorType07;
				}
			}
		}
		.homeStockBox__list a::before{
			background: s.$colorType07;
		}
		.homeStockBox__button span{
			background: s.$colorType07;
		}
		.button--type01 a{
			border-color: s.$colorType07;
			color: s.$colorType07;
		}
		.homeStockBox__information table tr{
			th{
				background: s.$colorType07;
			}
			&:nth-child(even){
				th{
					background: s.$colorType07;
				}
				td{
						@include s.media(m){
							background:#FAFAFA;
						}
					}
			}
		}
	}
	&.--carType06{
		.inBase__inner{
			&::before{
				@include s.media(m){
					background:s.$colorType08;
				}
			}
			&::after{
				@include s.media(m){
					background:s.$colorType08;
				}
			}
		}
		.homeStockBox__list a::before{
			background: s.$colorType08;
		}
		.homeStockBox__button span{
			background: s.$colorType08;
		}
		.button--type01 a{
			border-color: s.$colorType08;
			color: s.$colorType08;
		}
		.homeStockBox__information table tr{
			th{
				background: s.$colorType08;
			}
			&:nth-child(even){
				th{
					background: s.$colorType08;
				}
				td{
						@include s.media(m){
							background:#FAFAFA;
						}
					}
			}
		}
	}
}
#wrapper{
	.--carType02{
		.homeStockBox__listBox.--typeList{
			.homeStockBox__list{
				&:nth-child(4),&:nth-child(5),&:nth-child(6){
					display:none;
					@include s.media(m){
						display:block;
					}
				}
			}
		}
	}
}

#container #wrapper .mainVisual__inner {
	@include s.media(m){
        	width: 154%;
        	margin-left: -27%;
	}
	@include s.media(xl){
        	width: 160%;
        	margin-left: -30%;
	}
}

#container #wrapper .homeNewsBox .inBase__inner::before {
	@include s.media(m){
        	left: -21.8em;
	}
	@include s.media(xl){
        	left: -22.8em;
	}
}


#container #wrapper .homeNewsBox.--typeWide .inBase__inner::before {
	@include s.media(m){
        	left: -16.2em;
	}
	@include s.media(xl){
        	left: -17.2em;
	}
}

#wrapper .homeServiceCarModelBox{
	position:relative;
	z-index:1;
	&__titleBox{
		background:#74777C;
		display:block;
		padding:2em 1em;
		@include s.media(m){
			margin-bottom:3em;
		}
	}
	&__title{
		font-size:1.5em;
		color:#FFF;
		display:block;
		text-align:center;
		@include s.fontType01(Bold);
		margin-bottom:0.3em;
		letter-spacing:0.1em;
		@include s.media(m){
			font-size:1.875em;
		}
		&+p{
			text-align:center;
			@include s.fontType01(Regular);
			color:#FFF;
			letter-spacing:0.1em;
		}
	}
	.inBase__inner{
		position:relative;
		&::after{
			content:"";
			display:block;
			width:228em;
			height:148em;
			background:rgba(#EEE,.5);
			clip-path: polygon(78% 0%, 100% 0, 22% 100%, 0% 100%);
			position:absolute;
			top:-33em;
			right:-80em;
			z-index:-1;
		}
	}
	.accordionBox--typeCarModel{
		display:block;
		position:relative;
		margin-bottom:3em;
		//padding: 0 6%;
		@include s.media(m){
			margin-bottom:5em;
			padding:0;
		}
		.homeServiceCarModelBox__inner{
			display:block;
			position:relative;
			margin-bottom:3em;
			padding: 0 6%;
			@include s.media(m){
				margin-bottom:5em;
				padding:0;
			}
		}
		img{
			width:100%;
		}
		&:nth-child(even){
			//padding-top:3em;
			//padding-bottom:3em;
			@include s.media(m){
				padding-top:5em;
				padding-bottom:1em;
			}
			&::before{
				@include s.media(m){
					content:"";
					display:block;
					margin: 0 calc(50% - 50vw);
					width: 100vw;
					height:100%;
					background:rgba(#EEE,.5);
					position:absolute;
					top:0;
					left:0;
					mix-blend-mode: multiply;
				}
			}
			.homeServiceCarModelBox__word{
				top:1.3em;
				@include s.media(m){
					left:unset;
					top:0.5em;
					right:-2em;
				}
			}
			.homeServiceCarModelBox__image{
				order: 2;
				@include s.media(m){
					left:unset;
					right:-1.5em;
					margin-right:3.5em;
					margin-left:0;
				}
			}
			.homeServiceCarModelBox__information{
				order: 1;
				@include s.media(m){
					.button--type01{
						text-align:left;
						padding-left:4em;
					}
				}
			}
			.homeServiceCarModelBox__StockBox{
				order: 2;
			}
			.button--type01{
				order: 1;
			}
			.homeServiceCarModelBox__innerBox02 .button--type01{
				text-align:center;
				@include s.media(m){
					text-align:left;
				}
			}
		}
		&:last-child{
			@include s.media(m){
				margin-bottom:0;
			}
		}
		&:nth-child(3){
			&::before{
				content:"";
				display:block;
				width:228em;
				height:148em;
				background:rgba(#EEE,.5);
				clip-path: polygon(78% 0%, 100% 0, 22% 100%, 0% 100%);
				position:absolute;
				top:-21em;
				right:-80em;
				z-index:-1;
			}
		}
		&:nth-child(5){
			&::before{
				content:"";
				display:block;
				width:228em;
				height:148em;
				background:rgba(#EEE,.5);
				clip-path: polygon(78% 0%, 100% 0, 22% 100%, 0% 100%);
				position:absolute;
				top:-8em;
				right:-80em;
				z-index:-1;
			}
		}
		&:nth-child(1){
			.accordion--typeCarModel::before { background: s.$colorType03; }
			.accordion--typeCarModel__icon::before { background: s.$colorType03; }
			.homeServiceCarModelBox__word{ color:s.$colorType03; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType03; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType03; }
			.homeServiceCarModelBox__lead{ color:s.$colorType03; }
			.homeServiceCarModelBox__information .button--type01 a { background:s.$colorType03;} 
			.homeServiceCarModelBox__Stock a::before { background:s.$colorType03; }
			.homeServiceCarModelBox__Stock a p:nth-child(1) { color:s.$colorType03; }
			.homeServiceCarModelBox__Stock p:nth-child(4) span:nth-child(2) { background:s.$colorType03; }
		}
		&:nth-child(2){
			.accordion--typeCarModel::before { background: s.$colorType04; }
			.accordion--typeCarModel__icon::before { background: s.$colorType04; }
			.homeServiceCarModelBox__word{ color:s.$colorType04; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType04; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType04; }
			.homeServiceCarModelBox__lead{ color:s.$colorType04; }
			.homeServiceCarModelBox__information .button--type01 a { background:s.$colorType04;} 
			.homeServiceCarModelBox__Stock a::before { background:s.$colorType04; }
			.homeServiceCarModelBox__Stock a p:nth-child(1) { color:s.$colorType04; }
			.homeServiceCarModelBox__Stock p:nth-child(4) span:nth-child(2) { background:s.$colorType04; }
		}
		&:nth-child(3){
			.accordion--typeCarModel::before { background: s.$colorType05; }
			.accordion--typeCarModel__icon::before { background: s.$colorType05; }
			.homeServiceCarModelBox__word{ color:s.$colorType05; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType05; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType05; }
			.homeServiceCarModelBox__lead{ color:s.$colorType05; }
			.homeServiceCarModelBox__information .button--type01 a { background:s.$colorType05;} 
			.homeServiceCarModelBox__Stock a::before { background:s.$colorType05; }
			.homeServiceCarModelBox__Stock a p:nth-child(1) { color:s.$colorType05; }
			.homeServiceCarModelBox__Stock p:nth-child(4) span:nth-child(2) { background:s.$colorType05; }
		}
		&:nth-child(4){
			.accordion--typeCarModel::before { background: s.$colorType06; }
			.accordion--typeCarModel__icon::before { background: s.$colorType06; }
			.homeServiceCarModelBox__word{ color:s.$colorType06; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType06; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType06; }
			.homeServiceCarModelBox__lead{ color:s.$colorType06; }
			.homeServiceCarModelBox__information .button--type01 a { background:s.$colorType06;} 
			.homeServiceCarModelBox__Stock a::before { background:s.$colorType06; }
			.homeServiceCarModelBox__Stock a p:nth-child(1) { color:s.$colorType06; }
			.homeServiceCarModelBox__Stock p:nth-child(4) span:nth-child(2) { background:s.$colorType06; }
		}
		&:nth-child(5){
			.accordion--typeCarModel::before { background: s.$colorType07; }
			.accordion--typeCarModel__icon::before { background: s.$colorType07; }
			.homeServiceCarModelBox__word{ color:s.$colorType07; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType07; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType07; }
			.homeServiceCarModelBox__lead{ color:s.$colorType07; }
			.homeServiceCarModelBox__information .button--type01 a { background:s.$colorType07;} 
			.homeServiceCarModelBox__Stock a::before { background:s.$colorType07; }
			.homeServiceCarModelBox__Stock a p:nth-child(1) { color:s.$colorType07; }
			.homeServiceCarModelBox__Stock p:nth-child(4) span:nth-child(2) { background:s.$colorType07; }
		}
		&:nth-child(6){
			.accordion--typeCarModel::before { background: s.$colorType08; }
			.accordion--typeCarModel__icon::before { background: s.$colorType08; }
			.homeServiceCarModelBox__word{ color:s.$colorType08; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType08; }
			.homeServiceCarModelBox__image{ border-color:s.$colorType08; }
			.homeServiceCarModelBox__lead{ color:s.$colorType08; }
			.homeServiceCarModelBox__information .button--type01 a { background:s.$colorType08;} 
			.homeServiceCarModelBox__Stock a::before { background:s.$colorType08; }
			.homeServiceCarModelBox__Stock a p:nth-child(1) { color:s.$colorType08; }
			.homeServiceCarModelBox__Stock p:nth-child(4) span:nth-child(2) { background:s.$colorType08; }
		}
		
		&:nth-child(3){
			.homeServiceCarModelBox__carName span:nth-child(1){ width:9em; }
		}
		&:nth-child(4){
			.homeServiceCarModelBox__carName span:nth-child(1){ width:16em; }
		}
		&:nth-child(5){
			.homeServiceCarModelBox__carName span:nth-child(1){ width:10em; }
		}
		&:nth-child(6){
			.homeServiceCarModelBox__carName span:nth-child(1){ width:16em; }
		}
		
		&:nth-child(1){
			.homeServiceCarModelBox__word{
				top:0.3em;
				left: -1em;
				@include s.media(m){
					top:0.5em;
					left:-1.5em;
				}
			}
		}
		&:nth-child(3){
			.homeServiceCarModelBox__word{
				top:0.3em;
				left: -0.79em;
				@include s.media(m){
					top:0.5em;
					left:-1.5em;
				}
			}
		}
		&:nth-child(4){
			.homeServiceCarModelBox__word{
				top:1.6em;
				left: -1.3em;
				@include s.media(m){
					left:unset;
					top:0.8em;
					right:-2em;
				}
			}
		}
		&:nth-child(6){
			.homeServiceCarModelBox__word{
				top:1.6em;
				left: -1.3em;
				@include s.media(m){
					left:unset;
					top:0.9em;
					right:-2em;
				}
			}
		}
	}
	&__word{
		display:none;
		position:absolute;
		top:0.3em;
		left:-1em;
		@include s.fontType04(Bold);
		transform:rotate(90deg);
		font-size:3.75em;
		opacity:.3;
		line-height: 1.7;
		@include s.media(m){
			top:0.5em;
			left:-1.5em;
			display:inline-block;
		}
	}
	&__innerBox01{
		display:block;
		margin-bottom:1.5em;
		position:relative;
		@include s.media(m){
			width:100%;
			display:flex;
			justify-content:space-between;
			paddint-top:0;
		}
	}
	&__image{
		width:100%;
		display:block;
		margin:0 auto 1em;
		border:#666 solid 3px;
		background:#DDD;
		position:relative;
		@include s.media(m){
			width:47%;
			margin:unset;
			margin-left:3.5em;
		}
		figure{
			&:nth-child(2){
				width: 8.75em;
				position:absolute;
				top:0;
				left:0;
				background:#FFF;
				padding:0.3em 1em;
			}
		}
	}
	&__carName{
		margin-bottom:0.5em;
		display:none;
		@include s.media(m){
			margin-bottom:0.5em;
			display:block;
		}
		span{
			display:inline-block;
			vertical-align: middle;
			&:nth-child(1){
				width:13em;
				margin-right:0.5em;
			}
			&:nth-child(2){
				font-size:1.3em;
				@include s.fontType01(Bold);
				@include s.media(m){
					font-size:1.5em;
				}
			}
		}
	}
	&__lead{
		color:#666;
		font-size:1.2em;
		@include s.fontType01(Bold);
		margin-bottom:0.7em;
		display:none;
		@include s.media(m){
			font-size:1.625em;
			display:block;
		}
		&+p{
			margin-bottom:2em;
			@include s.media(m){
				padding-left:4em;
			}
		}
	}
	&__information{
		display:block;
		@include s.media(m){
			width:43%;
			margin-top:3em;
		}
		.button--type01{
			display:none;
			@include s.media(m){
				display:block;
				text-align:right;
			}
			a{
				background:#666;
				border:none;
				color:#FFF;
				padding:0.7em 2.5em;
				font-size:0.9em;
				@include s.media(m){
					min-width:15em;
					text-align:center;
				}
				&::before{
					background: url(../img/common/iconArrow02.svg) no-repeat center top;
					background-size:50% auto;
				}
			}
		}
	}
	&__innerBox02{
		display:block;
		@include s.media(m){
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:end;
		}
		.button--type01{
			text-align:center;
			@include s.media(m){
				width:24%;
				display:block;
				text-align:right;
			}
			a{
				width:80%;
				background:#313131;
				border:none;
				color:#FFF;
				padding:1em 2.5em;
				@include s.media(m){
					width:auto;
					font-size:0.9em;
					padding:0.7em 2.5em;
				}
				&::before{
					background: url(../img/common/iconArrow02.svg) no-repeat center top;
					background-size:50% auto;
				}
				span{
					display:none;
					@include s.media(m){
						display:inline-block;
					}
				}
			}
		}
	}
	&__StockBox{
		display:block;
		margin-bottom:2.5em;
		position:relative;
		@include s.media(m){
			display:block;
			width:74%;
			margin-bottom:0;
		}
	}
	&__Stock{
		width:100%;
		display:block;
		padding:0 1em;
		@include s.media(m){
			padding:0 0.5em;
			//width:33.3%;
		}
		a{
			display:block;
			box-shadow: 0px 0px 0.5em 0px rgba(0, 0, 0, 0.2);
			background:#FFF;
			position:relative;
			padding-bottom:0.3em;
			overflow:hidden;
			padding:2em 0 0;
			@include s.media(m){
				padding:0.4em 0.8em;
				padding-bottom:0;
			}
			&:hover{
				&::before{
					@include s.media(m){
						content:"";
						display:block;
						width:200%;
						height:200%;
					}
				}
				p:nth-child(1){
					@include s.media(m){
						filter: brightness(200%) saturate(0%);
					}
				}
			}
			&::before{
				content:"";
				width:100%;
				height:4px;
				display:block;
				background: #666;
				position:absolute;
				top:0;
				left:0;
				transition:all .3s ease;
				@include s.media(m){
					content:"";
					display:block;
					width:5.2em;
					height:4.4em;
					background:#666;
					clip-path: polygon(0 100%,100% 0,100% 100%);
					position:absolute;
					top:unset;
					left:unset;
					bottom:0;
					right:0;
					transition:all .3s ease;
					filter: brightness(100%);
				}
			}
		}
		p:nth-child(1){
			font-size:1.125em;
			@include s.fontType01(Medium);
			padding:0 1em;
			text-align:center;
			margin-bottom:1.5em;
			position:relative;
			opacity:1;
			toransiton:all .3s ease;
			@include s.media(m){
				color:#666;
				@include s.fontType01(Bold);
				font-size:1em;
				padding:0;
				margin-bottom:0.3em;
			}
		}
		figure:nth-child(2){
			width:80%;
			margin:0 auto 0.7em;
			position:relative;
			@include s.media(m){
				width:100%;
				margin:0 0 0.3em 0;
			}
			img{
				width:100%;
				aspect-ratio: 16 / 9;
				object-fit: cover;
			}
		}
		p:nth-child(3){
			width:80%;
			margin:0 auto 0.7em;
			@include s.fontType01(Bold);
			position: relative;
			padding-left:0.5em;
			@include s.media(m){
				width:100%;
				font-size:0.875em;
				margin:0 0 0.3em 0;
			}
			b{
				font-size:1.625em;
				display:inline-block;
				margin-left:0.3em;
				@include s.media(m){
					font-size:1.28em;
					margin-left:0;
				}
			}
			span:nth-child(1){
				display:inline-block;
				@include s.media(m){
					display:none;
				}
			}
		}
		p:nth-child(4){
			@include s.fontType04(Bold);
			color:#FFF;
			@include s.media(m){
				position:absolute;
				bottom:0.3em;
				right:0.7em;
				font-size:0.8em;
			}
			span{
				&:nth-child(1){
					display:none;
					@include s.media(m){
						display:inline-block;
					}
				}
				&:nth-child(2){
					@include s.fontType01(Bold);
					display:block;
					text-align:center;
					background:#666;
					color:#FFF;
					position:relative;
					padding:0.7em;
					transition:all .3s ease;
					&::before{
						content:"";
						width:1em;
						height:1em;
						display:block;
						background: url(../img/common/iconArrow02.svg) no-repeat center top;
						background-size:50% auto;
						position:absolute;
						top:50%;
						right:1em;
						margin-top:-0.4em;
						transition:all .3s ease;
					}
					@include s.media(m){
						display:none;
					}
				}
			}
		}
	}
}


// .accordionBox--typeCarModel
.accordionBox--typeCarModel{
}

#wrapper .accordion--typeCarModel{
	position:relative;
	//margin-bottom:2.5em;
	@include s.media(m){
		margin-bottom:0;
	}
	&::before{
		content:"";
		width:112%;
		height:1px;
		display:block;
		background:#666;
		position:absolute;
		top:-2px;
		left:-6%;
		@include s.media(m){
			display:none;
		}
	}
	label{
	    display: block;
	    cursor :pointer;
	    transition: all 0.5s;
	    position:relative;
		padding-top:4em;
		@include s.media(m){
			display:none;
		}
	    &:hover {
		}
		.homeServiceCarModelBox__carName{
			display:block;
			@include s.media(m){
				display:none;
			}
			img{
				width:100%;
			}
		}
		.homeServiceCarModelBox__lead{
			display:block;
			@include s.media(m){
				display:none;
			}
		}
	}
	&__icon {
		width:1.5em;
		height:1px;
	    	display: block;
		position:absolute;
		right:2em;
		top:1.9em;
		margin-top:-1px;
		&::before{
			content:"";
			width:5em;
			height:4em;
			display:block;
			background:#666;
			position:absolute;
			top:-2em;
			right:-1.8em;
		}
		@include s.media(m){
	    		display: none;
		}
		div{
			background: #FFF;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: 0.4s ease;
			&:last-child{
				transform: rotate(90deg);
			}
		}
	}
	input {
	    display: none;
	}
	&__content {
	    height: 0;
	    padding: 0;
	    overflow: hidden;
	    opacity: 0;
	    transition: 0.5s;
	width:112%;
	margin-left:-6%;
	padding:0 5%;
		@include s.media(m){
		    height: auto;
		    padding: 0;
		    overflow: visible;
		    opacity: 1;
		}
	}
	//クリックで中身表示
	&__check:checked + label + .accordion--typeCarModel__content {
	    height: auto;
	    padding: calc(s.$spaceSize/2) 0;
	    opacity: 1;
	}
	&__check:checked + label{
		&:hover{
		}
	}
	&__check:checked + label .accordion--typeCarModel__icon div:last-child{
		transform: none;
	}
}



#wrapper .homeWorksBox{
	background:s.$colorType02;
	display:block;
	padding:3em 0;
	position:relative;
	z-index:2;
	&__title{
		color:#FFF;
		font-size:1.5em;
		@include s.fontType01(Bold);
		margin-bottom:1em;
		text-align:center;
		letter-spacing:0.1em;
		@include s.media(m){
			font-size:1.875em;
		}
	}
	&__content{
		width:112%;
		margin-left:-6%;
		display:block;
		margin-bottom:1.5em;
		position:relative;
		z-index:1;
		@include s.media(m){
			//width:103%;
			width:100%;
			//margin-left:-1.5%;
			margin-left:0;
			//display:flex;
			margin-bottom:2.5em;
		}
		&.--typeList{
			@include s.media(m){
				width:103%;
				margin-left:-1.5%;
				display:flex;
				flex-wrap:wrap;
			}
			.homeWorksBox__works{
				width:90%;
				margin-left:5%;
				@include s.media(m){
					width:33.3%;
					margin-bottom:1em;
					margin-left:0;
				}
				a{
					border:s.$colorType02 solid 3px;
				}
			}
			&.--typeParts{
				.homeWorksBox__works{
					a{
						clear:both;
					}
					figure{
						width:40%;
						margin-right:3%;
						float:left;
						@include s.media(m){
							width:100%;
							margin-right:0;
							float:none;
						}
					}
					.homeWorksBox__type02{
						width:55%;
						float:right;
						@include s.media(m){
							width:auto;
							float:none;
						}
					}
					p{
						width:55%;
						float:right;
						@include s.fontType01(Bold);
						font-size:1.1em;
						@include s.media(m){
							width:auto;
							float:none;
						}
					}
				}
			}
		}
	}
	&__works{
		padding:0 0.5%;
		margin-bottom:1.5em;
		@include s.media(m){
			//width:33.3%;
			margin-bottom:0;
		}
		a{
			display:block;
			background:#FFF;
			padding:1.5em;
			line-height:1.7;
			position:relative;
			&:hover{
				color:#000;
				background:#F7F7F7;
				img{
					transform:scale(1.1,1.1);
				}
				.homeWorksBox__type span:nth-child(1)::before{
					background:#F7F7F7;
				}
			}
			figure{
				overflow:hidden;
			}
			img{
				width:100%;
				aspect-ratio: 3 / 2;
				object-fit: cover;
				transition:all .3s ease;
				transform:scale(1,1);
			}
		}
		&>p{
			@include s.fontType01(Regular);
		}
	}
	&__type{
		width:100%;
		display:flex;
		justify-content:space-between;
		margin-bottom:1em;
		span{
			display:inline-block;
			&:nth-child(1){
				width:60%;
				@include s.fontType01(Bold);
				background:#666;
				color:#FFF;
				padding:0.3em 1em;
				position:relative;
				&::before{
					content:"";
					display:block;
					width:2.5em;
					height:101%;
					background:#FFF;
					clip-path: polygon(0 100%,100% 0,100% 100%);
					position:absolute;
					right:-1px;
					top:0;
				}
				&.works-every,&.blog-every{
					background:s.$colorType03;
				}
				&.works-hiace,&.blog-hiace{
					background:s.$colorType04;
				}
				&.works-hijet,&.blog-hijet{
					background:s.$colorType05;
				}
				&.works-probox,&.blog-probox{
					background:s.$colorType06;
				}
				&.works-jimny,&.blog-jimny{
					background:s.$colorType07;
				}
				&.works-hustler,&.blog-hustler{
					background:s.$colorType08;
				}
				&.works-others,&.blog-others{
					background:s.$colorType09;
				}
			}
			&:nth-child(2){
				width:40%;
				@include s.fontType01(Bold);
				padding:0.3em 0 0.3em 1em;
				text-align:right;
			}
		}
	}
	&__type02{
		display:block;
		margin-bottom:1em;
		.list--parts_maker{
			position:absolute;
			top:1.5em;
			left:1.5em;
			span{
				@include s.fontType01(Bold);
				display:inline-block;
				background:rgba(0,0,0,.4);
				color:#FFF;
				padding:0.2em 0.6em;
			}
		}
		.list--parts_category{
			display:block;
			text-align:right;
			span{
				@include s.fontType01(Regular);
				border-bottom:#666 solid 1px;
				padding:0 0 0.2em 0;
				font-size:0.8em;
			}
		}
		&+p{
			@include s.fontType01(Regular);
			font-size:1.2em;
			@include s.media(m){
				min-height:3.5em;
				line-height:1.5em;
				font-size:1.1em;
			}
		}
	}
	&__type03{
		display:block;
		clear:both;
		font-size:0.9em;
		padding-top:0.5em;
		@include s.media(m){
			padding-top:0.3em;
			min-height:8em;
		}
		p{
			@include s.fontType01(Regular);
			border-top:#DDD solid 1px;
			line-height:1.5em;
			color:#666;
		}
	}
	.button--type01{
		text-align:center;
	}
	&.--carType01{
		background:s.$colorType03;
		.button--type01 a{
			border-color:s.$colorType03;
			color:s.$colorType03;
		}
	}
	&.--carType02{
		background:s.$colorType04;
		.button--type01 a{
			border-color:s.$colorType04;
			color:s.$colorType04;
		}
	}
	&.--carType03{
		background:s.$colorType05;
		.button--type01 a{
			border-color:s.$colorType05;
			color:s.$colorType05;
		}
	}
	&.--carType04{
		background:s.$colorType06;
		.button--type01 a{
			border-color:s.$colorType06;
			color:s.$colorType06;
		}
	}
	&.--carType05{
		background:s.$colorType07;
		.button--type01 a{
			border-color:s.$colorType07;
			color:s.$colorType07;
		}
	}
	&.--carType06{
		background:s.$colorType08;
		.button--type01 a{
			border-color:s.$colorType08;
			color:s.$colorType08;
		}
	}
}

#wrapper .homeReasonBox{
	display:block;
	position:relative;
	z-index:1;
	.inBase__inner{
		position:relative;
		padding:6em 0 1em;
		@include s.media(m){
			padding:6em 0 9em;
		}
		&::before{
			content:"";
			display:block;
			width:228em;
			height:148em;
			background:rgba(#EEE,.5);
			clip-path: polygon(78% 0%, 100% 0, 22% 100%, 0% 100%);
			position:absolute;
			top:-42em;
			right: -128em;
			z-index:-1;
			@include s.media(m){
				right:-87em;
			}
		}
	}
	&__title{
		color:#313131;
		@include s.fontType01(Bold);
		display:block;
		margin-bottom:1em;
		span{
			display:block;
			letter-spacing:0.1em;
			&:nth-child(1){
				//font-size:0.875em;
				//margin-bottom:0.7em;
			}
			&:last-child{
				font-size:1.25em;
			}
		}
	}
	&__lead{
		font-size:1.5em;
		@include s.fontType01(Bold);
		color:s.$colorType02;
		margin-bottom:1em;
		display:block;
		letter-spacing:0.1em;
		@include s.media(m){
			font-size:2.375em;
		}
		&+p{
			margin-bottom:3em;
		}
	}
	.button--type01{
		a{
			background:s.$colorType02;
			border:none;
			color:#FFF;
			padding:0.8em 4em;
			&::before{
				background: url(../img/common/iconArrow02.svg) no-repeat center top;
				background-size:50% auto;
			}
		}
	}
	&__groupImage{
		width:140%;
		height:140%;
		display:block;
		margin-left:-20%;
		@include s.media(m){
			width:39.5em;
			height:39.5em;
			position:absolute;
			top:6em;
			right:0;
			margin-left:0;
		}
		&__inner{
			width:100%;
			height:100%;
			position:relative;
			&>p{
				color:#FFF;
				@include s.fontType01(Bold);
				text-align:center;
				position:absolute;
				top:50%;
				left:50%;
				margin-top:-1em;
				margin-left:-2em;
			}
			&>dl{
				display:flex;
				justify-content:center;
				align-content:center;
				flex-wrap:wrap;
				width:31%;
				height:31%;
				position:absolute;
				text-align:center;
				&:nth-child(3){
					top:12%;
					left:50%;
					margin-left:-15.5%;
				}
				&:nth-child(4){
					top:52%;
					right:10%;
					margin-top:-15.5%;
				}
				&:nth-child(5){
					bottom:7%;
					left:50%;
					margin-left:-15.5%;
				}
				&:nth-child(6){
					top:52%;
					left:10%;
					margin-top:-15.5%;
				}
				dt{
					font-size:1.1em;
					@include s.fontType01(Bold);
					color:s.$colorType02;
					width:100%;
					margin-bottom:0.3em;
					@include s.media(m){
						font-size:1.25em;
					}
					small{
						font-size:0.7em;
						display:block;
					}
				}
				dd{
					width:100%;
					font-size:0.875em;
					@include s.fontType01(Bold);
				}
			}
		}
		figure{
			img{
				width:100%;
			}
		}
	}
}

#wrapper .homeVoiceBox{
	display:block;
	margin-bottom:3em;
	position:relative;
	z-index:1;
	@include s.media(m){
		margin-bottom:6em;
	}
	&__title{
		font-size:1.5em;
		@include s.fontType01(Bold);
		display:block;
		text-align:center;
		letter-spacing:0.1em;
		@include s.media(m){
			font-size:1.875em;
		}
	}
	&__inner{
		background:#ADD3E2;
		border:s.$colorType02 solid 1px;
		border-radius:2em;
		padding:2em 1em 0;
		@include s.media(m){
			padding:2em 0;
			overflow:hidden;
		}
		.ti-widget.ti-goog {
			@include s.media(m){
				width: 108%;
				margin-left: -4%;
			}
		}
	}
}

#wrapper .homeVoiceBox .ti-widget.ti-goog .ti-controls .ti-prev {
	@include s.media(m){
		left: 10%;
		top: -12em;
	}
}
#wrapper .homeVoiceBox .ti-widget.ti-goog .ti-controls .ti-next {
	@include s.media(m){
		right: 10%;
		top: -12em;
	}
}

#wrapper .homeVoiceBox .ti-widget.ti-goog .ti-controls .ti-next:after,
#wrapper .homeVoiceBox .ti-widget.ti-goog .ti-controls .ti-next:before,
#wrapper .homeVoiceBox .ti-widget.ti-goog .ti-controls .ti-prev:after,
#wrapper .homeVoiceBox .ti-widget.ti-goog .ti-controls .ti-prev:before{
	@include s.media(m){
		background: #000;
	}
}

#wrapper .homeLinkBox{
	width:101%;
	margin-left:-0.5%;
	display:flex;
	flex-wrap:wrap;
	margin-bottom:1.5em;
	position:relative;
	z-index:1;
	@include s.media(m){
		margin-bottom:2.5em;
		flex-wrap:nowrap;
	}
	&__button{
		width:50%;
		display:block;
		padding:0 1%;
		margin-bottom:0.7em;
		@include s.media(m){
			width:33.3%;
			margin-bottom:0;
			padding:0 0.5%;
		}
		&:nth-child(1){
			a span:nth-child(2){
				font-size:0.9em;
				@include s.media(m){
					font-size:1.375em;
				}
			}
		}
		a{
			width:100%;
			display:flex;
			align-items:center;
			background:#313131;
			color:#FFF;
			padding:1.2em 1em 1.2em 0.5em;
			line-height:1.7;
			position:relative;
			@include s.media(m){
				padding:1.5em 2.5em 1.5em 1em;
			}
			&::before{
				content:"";
				width:1em;
				height:1em;
				display:block;
				background: url(../img/common/iconArrow03.svg) no-repeat center top;
				background-size:50% auto;
				position:absolute;
				top:50%;
				right:0.5em;
				margin-top:-0.4em;
				transition:all .3s ease;
				@include s.media(m){
					width:1.5em;
					height:1.5em;
					right:1em;
					margin-top:-0.6em;
				}
			}
			&:hover{
				&::before{
					right:0.7em;
				}
			}
			img{
				width:100%;
			}
			span{
				display:inline-block;
				&:nth-child(1){
					width:2.5em;
					margin-right:0.5em;
					@include s.media(m){
						width:4.375em;
						margin-right:1em;
					}
				}
				&:nth-child(2){
					font-size:1em;
					@include s.fontType01(Bold);
					@include s.media(m){
						font-size:1.375em;
					}
				}
			}
		}
	}
}

#wrapper .bannerAppraisal{
	display:block;
	position:relative;
	z-index:1;
	margin-bottom:3em;
	img{
		width:100%;
	}
	a{
		width:100%;
		position:relative;
		display:block;
		line-height:1.7;
		opacity:1;
		&:hover{
			opacity:.5;
		}
		&>p{
			width:100%;
			text-align:center;
			color:#FFF;
			@include s.fontType01(Bold);
			position:absolute;
			bottom:0.3em;
			left:0;
			font-size:1.1em;
			@include s.media(m){
				font-size:1.375em;
			}
		}
	}
}



#wrapper .homeBlogBox{
	background:s.$colorType02;
	display:block;
	padding:3em 0;
	position:relative;
	z-index:1;
	&__title{
		color:#FFF;
		font-size:1.5em;
		@include s.fontType01(Bold);
		margin-bottom:1em;
		text-align:center;
		letter-spacing:0.1em;
		@include s.media(m){
			font-size:1.875em;
		}
	}
	&__content{
		width:112%;
		margin-left:-6%;
		display:block;
		margin-bottom:1.5em;
		@include s.media(m){
			//width:103%;
			width:100%;
			//margin-left:-1.5%;
			margin-left:0%;
			//display:flex;
			margin-bottom:2.5em;
		}
	}
	&__article{
		padding:0 0.5%;
		margin-bottom:1.5em;
		@include s.media(m){
			//width:33.3%;
			margin-bottom:0;
		}
		a{
			display:block;
			background:#FFF;
			line-height:1.7;
			&:hover{
				color:#000;
				background:#F7F7F7;
				img{
					transform:scale(1.1,1.1);
				}
			}
			figure{
				overflow:hidden;
			}
			img{
				width:100%;
				aspect-ratio: 3 / 2;
				object-fit: cover;
				transition:all .3s ease;
				transform:scale(1,1);
			}
			&>p{
				@include s.fontType01(Regular);
				font-size:1.2em;
				color:s.$colorType02;
				line-height:1.5;
				padding:0.7em 1em;
				@include s.media(m){
					padding:0.7em 1em;
					font-size:1.75em;
				}
			}
		}
	}
	.button--type01{
		text-align:center;
	}
}


.topPageBottomBox{
	display:block;
	overflow:hidden;
}